<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="-0.288 0 0.5 3.14 0 0 base_link laser" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.1 0 0 0 base_footprint base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_inertial" args="0.13 0.09 0.01 1.57 0 3.14 base_link inertial" />
    <!--<node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />-->
</launch>
