<launch>
<!--    <include file="$(find lightcontroller)/launch/startup.launch" />-->
<!--    <node type="rviz" name="rviz" pkg="rviz" args="-d $/opt/ros/noetic/share/rviz/default.rviz" />-->
<!--    <include file="$(find sensor_tf)/launch/tf_launch.launch" />-->
    <!-- Run the map server -->
    <!--<node name="map_server" pkg="map_server" type="map_server" args="/home/ubuntu/chickies-robot/catkin_ws/maps/teacher_lounge.yaml" />-->
    <include file="$(find odometry)/launch/main.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find motor_controller)/launch/drive.launch" />
    <include file="$(find base_2dnav)/launch/base.launch" />
</launch>
